.Title {
  font-family: fantasy;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0 4px 4px rgba(6, 107, 60, 0.397));
  letter-spacing: 3px;
  background: #090980;
  color: #fff;
}
